<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{shared/layouts/authLayout}"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>

<body>
<section layout:fragment="content" class="text-center">
    <div class="m-5 text-center">
        <div th:if="${param.success}" class=success-container>
            <div class="alert alert-info text-white">Email sent to you to Reset Password.
                Please check Spam folder if mail not visible!</div>
            </div>
        <div th:if="${param.error}" class="error-container">
            <div class="alert alert-info text-white">Token Expired.Please click on Forgot Password again.</div>
            </div>
        <h1>Reset Password</h1>
        <p class="fs-5">
            Enter the email address associated with your account, and
            we'll email you with the link to reset your password
        </p>

        <form  th:action="@{/auth/resetpassword}" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary py-2 px-5 border border-black"> 
                <i class="fa-solid fa-unlock me-2"></i>
                <span>Submit</span>
            </button>
        </form>
        </div>
        
    </div>
</section>
</body>
</html>