/* Header */
.vr {
    width: 2px;
    height: 300px;
    background-color: #fff;
    transform: rotate(30deg);
    position: relative;
    margin: 0 30px;
}

/* Footer */
.custom-link {
    transition: font-size 0.3s ease, text-decoration 0.3s ease !important;
    cursor: pointer;
    font-size: 1.5rem !important;
}

.custom-link:hover {
    text-decoration: underline;
    font-size: 1.6rem !important
}

footer > ul {
    gap: 90px;
}

.bg-1 {
    background-color: #5f5e5e;
}

.mini-action-123 {
    width: 15%;
    margin-bottom: -15rem;
    margin-left: -13rem;
    background-color: #ffffff;
    border: 3px solid #000000;
    display: none;
    position: absolute;
    z-index: 2;
}

#show-menu:hover {
    cursor: pointer;
}


/* Hiển thị/ẩn menu */
.mini-action-123 {
    display: none;
}

.mini-action-123.show-menu {
    display: block;
}

/* Hiệu ứng màn hình mờ */
body.overlay-active::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.logout-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    border-radius: 5px;
    text-align: center;
}
.straight-line {
    width: 1px;
    height: 2.5rem;
    background-color: #000;
    position: relative;
}