<footer class="bg-body-secondary p-5">
    <ul class="list-unstyled d-flex" id="footer-links">
        <li>
            <h3>RENT CARS</h3>
            <a href="#" class="nav-link text-decoration-none custom-link">
                Search Cars and Rates
            </a>
        </li>
        <li>
            <h3>CUSTOMER ACCESS</h3>
            <div class="d-flex flex-column">
                <a href="#" class="nav-link text-decoration-none custom-link">
                    Manage My Booking
                </a>
                <a href="#" class="nav-link text-decoration-none custom-link">
                    My Wallet
                </a>
                <a href="#" class="nav-link text-decoration-none custom-link">
                    My Car
                </a>
                <a href="#" class="nav-link text-decoration-none custom-link">
                    Log in
                </a>
            </div>
        </li>
        <li>
            <h3>JOIN US</h3>
            <div class="d-flex flex-column">
                <a href="#" class="nav-link text-decoration-none custom-link">
                    New User
                </a>
                <a href="#" class="nav-link text-decoration-none custom-link">
                    Sign Up
                </a>
            </div>
        </li>
    </ul>
</footer>